
<div ng-app="webui" ng-controller="HomePageController">
    <center>
        <h1>
            {{vm.app.message}}
        </h1>
    </center>

    <div style="width:500px;">
        <div id="grdKendoGrid"
             kendo-grid
             k-pagesize="5"
             k-options="vm.gridOptions"
             k-data-source="vm.gridData"
             k-pageable="true">
        </div>

        <button kendo-button ng-click="update()">
            Load more...
        </button>

        <button kendo-button ng-click="savepagestate()">
            Save page state
        </button>

        <button kendo-button ng-click="getpagestate()">
            Get page state
        </button>

    </div>


    @*<h2>Route Demos</h2>
    <ol>
        <li><a href="/#/routeOne">Take One</a></li>
        <li><a href="/#/routeTwo">Route Two</a></li>
        <li><a href="/#/routeThree">Take Three</a></li>
    </ol>*@

    <div ng-view></div>
</div>







